<% if logged? %>
  <div class="container">
    <h4>Your Events</h4>
    <% @events.each do |t| %>
      <ul><%= t.name %>
        <li><%= t.description %></li>
        <li><%= t.date.strftime("%m/%d/%Y") %></li>
      </ul>
    <% end %>  

  <h4>Upcoming Events</h4>
  <ul>
    <% @upcoming_events.each do |event| %>
      <li><%= event.name %>, <%= event.date %></li>
    <% end %>
  </ul>

  <h4>Previous Events</h4>
  <ul>
    <% @prev_events.each do |event| %>
      <li><%= event.name %>, <%= event.date %></li>
    <% end %>
  </ul>
  </div>
<% end %>
